.header {
  background-image: 
  background-position: center;
}
.video {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.vid {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.icon {
  height: auto;
  padding-right: 20 px;
  padding-left: 20 px;
}
.title {
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
} 
.copyright{
  text-align: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.toptext{
  display: flex;
  align-items: right;
}
.mission{
  text-align: center;
  font-size: 23px;
  font-family: "Courier New", Courier, monospace;
}
